* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f8f4f3;
}
.ul-links {
  display: flex;
  align-content: space-around;
  list-style: none;
  width: 360px;
  justify-content: center;
}
.links {
  text-decoration: none;
  color: black;
  padding: 10px;
}
@media only screen and (max-width: 360px) {
  /* Login */
  .div-login {
    width: 90vmax;
    height: 90vmax;
    min-height: 90vmax; /* aqui*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-bottom: 5%;
  }
  .container-image {
    display: flex;
    align-content: center;
    justify-content: space-around;
  }
  .img-logo-login {
    width: 50%;
  }
  h2 {
    padding: 10px 0px 20px 0px;
  }
  .form-login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 90%;
  }
  .input-login {
    margin-bottom: 5%;
  }
  input:focus {
    outline: none;
  }
  button:focus {
    outline: none;
  }
  .line {
    text-align: center;
    background-color: #f8f4f3;
    border: none;
    border-bottom: 2px solid black;
    font-size: 16px;
  }
  .send {
    border: 3px solid #a8babe;
    border-radius: 20px;
    background-color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 3px;
  }
  .send:hover {
    color: #f8f4f3;
    background-color: #4e1706;
    border: 3px solid #c88758;
  }
  .back {
    padding: 5px 10px 5px 10px;
    font-size: 16px;
  }
  .socialnetwork-logo {
    width: 35vmax;
  }
  .text-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 90%;
  }

  .container-social {
    width: 90%;
    display: flex;
    justify-content: space-around;
  }
  /* Register */
  .div-register {
    width: 100%;
    height: auto; /* aqui*/
    display: flex;
    justify-content: center;
    align-content: space-between;
    text-align: center;
  }
  .container-register {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-around;
  }
  .line-register {
    text-align: center;
    background-color: #f8f4f3;
    border: none;
    border-bottom: 2px solid black;
    font-size: 16px;
  }
}

/*  Laptop */
@media only screen and (max-width: 1920px) {
  /* Login */
  /* body {
    background-image: url(./assets/Pie\ cafe.png);
    background-size: 30%;
    background-repeat: repeat-x;
    background-position: bottom;
    background-attachment: fixed;
  } */
  .div-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .container-image {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  }
  .container-login {
    text-align: center;
    height: 85vh;
    padding: 5vh;
  }

  .img-logo-login {
    width: 36vmax;
    padding-right: 5%;
  }
  h2 {
    padding: 3% 0% 3% 0%;
  }
  .form-login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }
  .input-login {
    margin-bottom: 10%;
  }
  input:focus {
    outline: none;
  }
  button:focus {
    outline: none;
  }
  .line {
    text-align: center;
    background-color: #f8f4f3;
    border: none;
    border-bottom: 2px solid black;
    font-size: 16px;
    margin-bottom: 20%;
  }
  .send {
    border: 3px solid #a8babe;
    border-radius: 20px;
    background-color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 3px;
  }
  .send:hover {
    color: #f8f4f3;
    background-color: #4e1706;
    border: 3px solid #c88758;
  }
  .back {
    padding: 5px 10px 5px 10px;
    font-size: 16px;
  }
  .socialnetwork-logo {
    width: 50px;
  }
  .text-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .container-social {
    min-width: 285px;
    display: flex;
    justify-content: space-around;
    margin-top: 10%; /* aqui*/
  }
  /* Register */
  .div-register {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  .container-register {
    display: flex;
    flex-direction: column;
    width: 25vw;
    text-align: center;
  }
  .line-register {
    text-align: center;
    background-color: #f8f4f3;
    border: none;
    border-bottom: 2px solid black;
    font-size: 16px;
    margin-bottom: 10%;
  }
}

@media only screen and (max-width: 360px) {
  #home-desktop {
    display: none;
  }
  /* #home-mobile{
    display: block;
  }
   */

  /*My profile*/
  .container-me {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding-top: 10vh;
  }
  p {
    font-size: 14px;
  }
  .container-home-head {
    display: flex;
    background-color: white;
    border-bottom: 2px #4e1706 solid;
    width: 100vw;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    position: fixed;
  }
  .div-search-head {
    width: 60px;
    display: flex;
    justify-content: space-between;
  }
  .logo-home {
    width: 70px;
    height: 40px;
    padding-left: 10%;
  }
  .icon-home-head {
    height: 20px;
  }
  #img-profile {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px #4e1706 solid;
    margin: 3%;
    display: block;
  }
  .container-posts {
    width: 80%;
    margin: auto;
    display: block;
    margin: auto;
  }
  .posts {
    width: 260px;
    height: 50px;
    border: 2px #4e1706 solid;
    display: block;
    margin: auto;
  }
  .icon-left {
    display: flex;
    align-items: center;
  }
  .icons-posts {
    width: 20px;
    height: 20px;
    margin: 5px;
  }
  .input-post {
    background-color: #dfe1e3;
    border: 2px #4e1706 solid;
    width: 98%;
    height: 25px;
    border-radius: 15px;
    padding: 2%;
    overflow-y: scroll;
    overflow: hidden;
    line-height: 95%;
  }
  .icons-myPosts {
    width: 98%;
    /*padding: 2%;*/
    display: flex;
    justify-content: flex-end;
    outline: none;
  }
  .container-img {
    width: 100%;
    height: 20%;
  }
  .img-post {
    width: 298px;
    height: 80px;
    border: 2px #4e1706 solid;
  }
  .container-icons-post {
    display: flex;
    justify-content: space-between;
  }
  .btn-icons {
    background-color: #f8f4f3;
    outline: none;
    border: none;
  }
  #icon-likes {
    width: 25px;
  }
  .counter {
    padding: 5px;
    display: inline-block;
  }
  section p {
    line-height: 95%;
  }
  .section-posts {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    height: 40%;
  }
  .myPost {
    width: 95%;
    height: 40px;
    background-color: #a8babe;
    border: 2px solid #4e1706;
    border-radius: 16px 0px;
    padding: 2%;
    margin-bottom: 5%;
    overflow-y: scroll;
  }
  .div-comments {
    display: flex;
    align-content: flex-start;
  }
  .photo-friend {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: 1px #4e1706 solid;
    /*margin: 3%;*/
    display: block;
  }
  .first-comment {
    background-color: #dfe1e3;
    border: 2px #4e1706 solid;
    width: 85%;
    height: 35px;
    border-radius: 16px 0px;
    /*padding: 2px;*/
    margin-left: 2%;
    margin-bottom: 3.5%;
    overflow-y: scroll;
    overflow: hidden;
    line-height: 95%;
  }
  .second-comment {
    background-color: #dfe1e3;
    border: 2px #4e1706 solid;
    width: 85%;
    height: 35px;
    border-radius: 16px 0px;
    /* padding: 2px;*/
    margin-left: 2%;
    margin-bottom: 3.5%;
    overflow-y: scroll;
    overflow: hidden;
    line-height: 95%;
  }
  .counter-comments {
    margin: 1%;
    padding: 0px 0px 4px;
  }
  .form-comments {
    display: flex;
    align-items: center;
  }
  .post-comment {
    background-color: #dfe1e3;
    border: 2px #4e1706 solid;
    width: 82%;
    height: 25px;
    border-radius: 15px;
    padding: 1%;
    overflow-y: scroll;
    overflow: hidden;
  }
  .container-navigation {
    position: fixed;
    padding: 2%;
    background-color: #c88758;
    height: 25px;
    display: flex;
    border: 2px #4e1706 solid;
    width: 100vw;
    justify-content: space-around;
    bottom: 0px;
  }
  .icon-home {
    height: 25px;
    display: flex;
  }

  /*home*/
  .container-home {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    padding-top: 10vh;
    align-content: space-between;
  }
  .myPost-home {
    width: 95%;
    height: 60px;
    background-color: #a8babe;
    border: 2px solid #4e1706;
    border-radius: 16px 0px;
    padding: 2%;
    margin-bottom: 5%;
    overflow-y: scroll;
    overflow: hidden;
  }
  .img-post-home {
    width: 280px;
    height: 120px;
    border: 2px #4e1706 solid;
  }
}

/*-------Desktop-------*/

@media only screen and (max-width: 1920px) {
  #home-mobile {
    display: none;
  }
  /* #home-desktop{
    display: block;
  } */
  /*My profile Desktop*/
  .principal-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #f8f4f3;
  }
  .header-desktop {
    display: flex;
    align-content: center;
    width: 100%;
    height: 10%;
  }
  .main-desktop {
    display: flex;
    width: 100%;
  }
  .logo-desktop {
    width: 20vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-desktop img {
    width: 12vw;
  }
  .container-navigation-desktop {
    width: 58vw;
    padding: 10px;
    margin-top: 18px;
    background-color: #c69572;
    display: flex;
    border: 3px #4e1706 solid;
    justify-content: space-around;
  }
  .icon-home-desktop {
    height: 25px;
    display: flex;
  }
  .icon-home-desktop:hover {
    background-color: rgba(255, 225, 204, 0.89);
  }
  .container-search-desktop {
    width: 20vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .search-desktop {
    background-color: #4e1706;
    width: 12vw;
    height: 30px;
    padding: 2px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 15px;
    text-align: center;
  }
  .search-desktop::-webkit-input-placeholder {
    color: white;
  }
  .menu-desktop {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
  }
  .nav-desktop {
    width: 80%;
  }
  .nav-desktop ul {
    border: 3px solid #4e1706;
    border-top: 1px solid #4e1706;
    height: 40px;
    background-color: #c69572;
    list-style: none;
    padding: 6px;
  }
  .nav-desktop ul:hover {
    color: #f8f4f3;
  }
  .nav-desktop a {
    text-decoration: none;
    color: black;
  }
  .nav-desktop a:hover {
    color: #f8f4f3;
  }

  .img-menu-desktop {
    width: 100%;
  }
  .img-menu-desktop img {
    width: 20vw;
    padding-top: 100%;
  }
  .container-me-desktop {
    width: 60vw;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: rgba(200, 135, 88, 0.1);
  }
  .container-posts-desktop {
    width: 90%;
  }
  .aside-desktop {
    width: 20vw;
    /* padding-top: 2%; */
    background-color: #f8f4f3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .adds-desktop {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 0 auto;
  }
  .adds-desktop img {
    width: 80%;
    height: 33vh;
    border: 4px solid #4e1706;
  }
  .adds-desktop p {
    padding: 5px;
  }
  #img-profile-desktop {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px #4e1706 solid;
    margin: 3%;
    display: block;
  }
  .input-post-desktop {
    background-color: #dfe1e3;
    border: 2px #4e1706 solid;
    width: 99%;
    height: 35px;
    padding: 5px;
    border-radius: 25px;
    overflow-y: scroll;
    overflow: hidden;
    line-height: 95%;
  }
  .icons-myPosts-desktop {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    outline: none;
  }
  .icons-posts-desktop {
    width: 20px;
    height: 20px;
    margin: 5px;
  }
  .btn-icons-desktop {
    background-color: transparent;
    outline: none;
    border: none;
  }
  .container-img-desktop {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
  }
  .img-post-desktop {
    width: 30%;
  }
  .img-post-desktop img {
    width: 100%;
    border: 4px solid #4e1706;
  }

  .container-icons-post-desktop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .section-posts-desktop {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    padding-bottom: 25px;
  }
  .myPost-desktop {
    width: auto;
    height: 80px;
    background-color: #a8babe;
    border: 2px solid #4e1706;
    border-radius: 16px 0px;
    padding: 2%;
    overflow-y: scroll;
    overflow: hidden;
    margin-bottom: 2%;
  }
  .div-comments-desktop {
    display: flex;
    align-content: flex-start;
  }
  .photo-friend-desktop {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px #4e1706 solid;
    display: block;
  }
  .first-comment-desktop {
    background-color: #dfe1e3;
    border: 2px #4e1706 solid;
    width: 90%;
    height: 60px;
    border-radius: 16px 0px;
    padding: 5px;
    margin-left: 2%;
    margin-bottom: 2%;
    overflow-y: scroll;
    overflow: hidden;
    line-height: 95%;
  }
  .second-comment-desktop {
    background-color: #dfe1e3;
    border: 2px #4e1706 solid;
    width: 90%;
    height: 60px;
    border-radius: 16px 0px;
    padding: 5px;
    margin-left: 2%;
    overflow-y: scroll;
    overflow: hidden;
    line-height: 95%;
  }
  .counter-comments-desktop {
    margin: 1%;
    padding: 0px 0px 4px;
  }
  .form-comments-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .post-comment-desktop {
    background-color: #dfe1e3;
    border: 2px #4e1706 solid;
    width: 90%;
    height: 40px;
    border-radius: 25px;
    padding: 1%;
    overflow-y: scroll;
    overflow: hidden;
  }
  .send-submit-desktop {
    height: 35px;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    background-color: #c69572;
    margin-left: 5px;
    border-radius: 10px;
    font-weight: 700;
  }
}
